dist-newstyle/
dist-debian/
debian/.debhelper/
debian/cosmobot/
debian/cosmobot-dbgsym/
debian/cosmobot-plugin-sdk/
debian/python3-cosmobot-plugin/
debian/cosmoscope/
cosmobot-plugin-python/.pybuild/
cosmobot-plugin-python/build/
cosmobot-plugin-python/src/*.egg-info/
.pybuild/
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/debhelper-build-stamp
cosmobot.sqlite3*
config.toml
*.sh
.ghcid-errors
__pycache__/
