[Unit]
Description=Cosmobot
After=network.target
ConditionPathExists=/srv/cosmobot/config.toml

[Service]
Type=simple
ExecStart=/usr/bin/cosmobot serve +RTS -A1m -I0.1 --disable-delayed-os-memory-return -xn -F1.2 -RTS
WorkingDirectory=/srv/cosmobot
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="XDG_RUNTIME_DIR=/run/cosmobot"
RuntimeDirectory=cosmobot
RuntimeDirectoryMode=0700
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
